.top {
  display: grid;
  grid-template-columns: 590px 590px;
  column-gap: 20px;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto 40px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.about {
  margin-top: clamp(5rem, -1.429rem + 13.39vw, 10.625rem);
  max-height: auto;
}
.imageCard {
  display: block;
}
.text {
  width: 560px;
  transform: translateY(-50px);
}

.text p + p {
  margin-top: 20px;
}

.mainImage {
  background-image: url("../../assets/images/about/about-main-1440.png");
  background-size: cover;
  display: block;
  width: 590px;
  height: 400px;
  object-fit: cover;
}
h1 {
  transform: translateY(-20px);
}
.grid p{
  max-width: 341px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 387px);
  grid-template-rows: repeat(2, 270px);
  column-gap: 20px;
  row-gap: 12px;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .imageCard {
    display: none;
  }
  .mainImage {
    background-image: url("../../assets/images/about/about-main-768.png");
    background-size: cover;
    width: 342px;
  }
  .container {
    max-width: 704px;
  }
  .h1 {
    transform: translateY(-30px);
  }
  .text {
    transform: translateY(0);
    width: 342px;
  }
  .top {
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(2, 342px);
    grid-template-rows: repeat(2, 270px);
    width: 720px;
  }
  .grid p{
    width: 310px;
}
}

@media (max-width: 714px) {
  .mainImage {
    margin-top: 20px;
    background-image: url("../../assets/images/about/about-main-375.png");
    background-size: cover;
    height: 199px;
  }
  .top {
    grid-template-columns: 1fr;
  }
  .about{
    margin-top: clamp(5rem, calc(8.669rem - 7.634vw), 6.875rem);
  }
  .grid {
    grid-template-columns: repeat(1, 345px);
    grid-template-rows: repeat(4, 270px);
    width: 345px;
  }
}
