.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu a {
  text-decoration: none;

  transition: var(--transition);
}

.light .menu a {
  color: var(--color-black);
}

.dark .menu a {
  color: var(--color-white);
}

.menu a:hover {
  opacity: 0.6;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
}
