.workStages {
  padding: 140px 0 80px;
}

.content {
  display: grid;
  grid-template-columns: 500px 700px;

  width: 1200px;
  height: 685px;
  margin: 0 auto;
}

.accordion {
  width: 387px;
}

.title {
  margin-bottom: 30px;
}

.image {
  display: block;
  width: 700px;
  height: 685px;
  object-fit: cover;
  animation: imageAppear 1.5s ease;
}

@keyframes imageAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}