.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 692px;
  column-gap: 30px;
  width: 100%;
  margin: 0 auto;
}
.accordion h2 {
  margin-bottom: 37px;
}
.accordion {
  width: 100%;
  max-width: 387px;
  margin-left: 0;
}

.image {
  display: block;
  width: 692px;
  height: 685px;
  object-fit: cover;
  animation: imageAppear 400ms ease-in-out;
}

@keyframes imageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .workStages {
    margin: 0 32px;
  }
  .content {
    grid-template-columns: minmax(0, 1fr) 362px;
    column-gap: 20px;
  }

  .image {
    width: 362px;
    height: 270px;
  }
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: 1fr;
    max-width: 387px;
    margin: 0 auto;
  }
  .accordion h2 {
    margin-bottom: 24px;
  }
  .workStages {
    margin: 0 15px;
  }
  .image {
    display: none;
  }
}
