.header {
    width: 100%;

    background: var(--color-white);
    border-bottom: 1px solid #ececec;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.wrapper {
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.phone {
    color: var(--color-black);
    font-weight: 400;
    font-size: 20px;

    text-decoration: none;
}

@media (max-width: 992px) {
    .phone {
        display: none;
    }
}