.footer {
  width: 100%;

  background: var(--color-black);
  color: var(--color-white);
}

.wrapper {
  height: 189px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  box-sizing: border-box;

  padding-top: 38px;
  padding-bottom: 30px;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-gray);
}

.logo {
  color: var(--color-white);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.navigation :global(.menu) {
  color: var(--color-white);
}

.copyright {
  margin-top: auto;

  color: var(--color-gray);

  font-family: var(--font-family);
  font-size: 12px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact h2 {
  margin: 0 0 25px;

  color: var(--color-white);

  font-family: var(--font-family);
}

.socials {
  display: flex;
  align-self: flex-end;

  gap: 20px;
}

.socials a {
  color: var(--color-white);

  font-family: var(--font-family);

  text-decoration: none;

  opacity: 0.7;

  transition: var(--transition);
}

.socials a:hover {
  opacity: 1;
}
