.footer {
  background-color: var(--color-black); 
  color: var(--color-gray); 
  padding: 40px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.company,
.navigation {
  display: contents;
}

.company a {
  color: var(--color-gray);
  text-decoration: none;
  transition: color 0.3s ease;
}


.logo {
  order: 1;
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--color-white);
}


.navigation > :first-child {
  order: 2;
  margin-bottom: 40px;
}

.contact {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.contact h2 {
  color: var(--color-white);
  margin: 0 0 20px 0;
  font-weight: 500;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials a {
  width: 44px;
  height: 44px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.company p {
  order: 4;
  margin: 0 0 10px 0;
}

.company > a {
  order: 5;
  margin-bottom: 20px;
}

.copyright {
  order: 6;
  margin: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0 40px;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
  }

  .company,
  .navigation {
    display: flex;
    flex-direction: column;
  }

  .logo,
  .navigation > :first-child,
  .contact,
  .company p,
  .company > a,
  .copyright {
    order: unset;
    margin-bottom: 0;
  }

  .company {
    align-items: flex-start;
  }

  .company p {
    margin-top: auto;
    margin-bottom: 10px;
  }
  .navigation {
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation > :first-child {
    margin-bottom: 40px;
  }

  .contact {
    align-items: flex-end;
  }
}
